{% extends 'base.html' %}
{% block content %} 
<style>
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
	font-family: Courier;
	font-color: black;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '+';
    color: #777;
    font-weight: bold;
    float: left;
    margin-left: 10px;
}

button.accordion.active:after {
    content: "-";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
</style>


<div class="breadcrumbs">
<a href="/home">Home</a>
&rsaquo; <a href="/clients">Clients</a>
&rsaquo; {{a.clientname}} Forms
</div>
<div id="content" class="flex">
        


<h4>PRODUCTS</h4>
        
  <div id="content-main">
    
        
    <div class="module" id="changelist">
      

     

         


   
   <button class="accordion">&nbsp;&nbsp;Click To Browse Products</button>
   






{% if prforms.count > 0 %}
<div class="panel">
{% for consultantform in prforms %}

<table><th class="field-__str__"><a href="/consultantformss/{{a.id}}/getpr/{{consultantform.id}}/">&nbsp;&nbsp;&nbsp;&nbsp;{{consultantform.name}}</a></th><td></td></table>



{% endfor %}
</div>
{% else %}
<div class="panel">
<table><tr><th class="field-__str__">&nbsp;&nbsp;&nbsp;&nbsp;None</th><td></td></tr></table>
</div>
{% endif %}
          
      
      



      
    </div>
  </div>

























        <h4>KYC FORMS</h4>
        
  <div id="content-main">
    {% if consultantforms.count == 0 %}

        <ul class="object-tools">
          
            
            <li>
              
              <a href="/consultantformss/{{a.id}}/create" class="align-right">
                Add KYC
              </a>
            </li>
            
          
        </ul>    
    {% endif %}
    <div class="module" id="changelist">
      

     

         


   
   <button class="accordion">&nbsp;&nbsp;No. of KYC Forms: {{consultantforms.count}}</button>
   






{% if consultantforms.count > 0 %}
<div class="panel">
{% for consultantform in consultantforms %}

<table><th class="field-__str__"><a href="/consultantformss/{{a.id}}/get/{{consultantform.id}}/">&nbsp;&nbsp;&nbsp;&nbsp;{{consultantform.company_name}}</a></th><td></td></table>



{% endfor %}
</div>
{% else %}
<div class="panel">
<table><tr><th class="field-__str__">&nbsp;&nbsp;&nbsp;&nbsp;None</th><td></td></tr></table>
</div>
{% endif %}




 

          
      
      



      
    </div>
  </div>

        <h4>BRANCH FORMS</h4>
        
  <div id="content-main">
    
        <ul class="object-tools">
          
            
            <li>
              
              <a href="/consultantformss/{{a.id}}/create1" class="align-right">
                Add Branch
              </a>
            </li>
            
          
        </ul>    
    
    <div class="module" id="changelist">
      

     

         


   
   <button class="accordion">&nbsp;&nbsp;No. of Branch Forms: {{branchforms.count}}</button>
   






{% if branchforms.count > 0 %}
<div class="panel">
{% for consultantform in branchforms %}

<table><th class="field-__str__"><a href="/consultantformss/{{a.id}}/getbr/{{consultantform.id}}/">&nbsp;&nbsp;&nbsp;&nbsp;{{consultantform.branch_name}}</a></th><td></td></table>



{% endfor %}
</div>
{% else %}
<div class="panel">
<table><tr><th class="field-__str__">&nbsp;&nbsp;&nbsp;&nbsp;None</th><td></td></tr></table>
</div>
{% endif %}




 

          
      
      



      
    </div>
  </div>




        <h4>SUBSIDIARY FORMS</h4>
        
  <div id="content-main">
    
        <ul class="object-tools">
          
            
            <li>
              
              <a href="/consultantformss/{{a.id}}/create2" class="align-right">
                Add Subsidiary
              </a>
            </li>
            
          
        </ul>    
    
    <div class="module" id="changelist">
      

     

         


   
   <button class="accordion">&nbsp;&nbsp;No. of Subsidiary Forms: {{subforms.count}}</button>
   






{% if subforms.count > 0 %}
<div class="panel">
{% for consultantform in subforms %}

<table><th class="field-__str__"><a href="/consultantformss/{{a.id}}/getsu/{{consultantform.id}}/">&nbsp;&nbsp;&nbsp;&nbsp;{{consultantform.subsidiary_name}}</a></th><td></td></table>



{% endfor %}
</div>
{% else %}
<div class="panel">
<table><tr><th class="field-__str__">&nbsp;&nbsp;&nbsp;&nbsp;None</th><td></td></tr></table>
</div>
{% endif %}




 

          
      
      



      
    </div>
  </div>



        <h4>RELATED COMPANY FORMS</h4>
        
  <div id="content-main">
    
        <ul class="object-tools">
          
            
            <li>
              
              <a href="/consultantformss/{{a.id}}/create3" class="align-right">
                Add Related Company
              </a>
            </li>
            
          
        </ul>    
    
    <div class="module" id="changelist">
      

     

         


   
   <button class="accordion">&nbsp;&nbsp;No. of Related Company Forms: {{relforms.count}}</button>
   






{% if relforms.count > 0 %}
<div class="panel">
{% for consultantform in relforms %}

<table><th class="field-__str__"><a href="/consultantformss/{{a.id}}/getre/{{consultantform.id}}/">&nbsp;&nbsp;&nbsp;&nbsp;{{consultantform.related_company_name}}</a></th><td></td></table>



{% endfor %}
</div>
{% else %}
<div class="panel">
<table><tr><th class="field-__str__">&nbsp;&nbsp;&nbsp;&nbsp;None</th><td></td></tr></table>
</div>
{% endif %}




 

          
      
      



      
    </div>
  </div>






  <h4>BACKGROUND CHECKLIST</h4>
        
  <div id="content-main">
    
        <ul class="object-tools">
          
            
            <li>
              
              <a href="/consultantformss/{{a.id}}/checklist" class="align-right">
                Add BG CHECKLIST
              </a>
            </li>
            
          
        </ul>    
    
    <div class="module" id="changelist">
      

     

          

<button class="accordion">&nbsp;&nbsp;No. of Checklists: {{checkforms.count}}</button>
   






{% if checkforms.count > 0 %}


<div class="panel">
{% for checklistform in checkforms %}

<table><th class="field-__str__"><a href="/consultantformss/{{a.id}}/gets/{{checklistform.id}}">&nbsp;&nbsp;&nbsp;&nbsp;{{checklistform.form_name}}</a></th><td></td></table>



{% endfor %}
</div>
{% else %}
<div class="panel">
<table><tr><th class="field-__str__">&nbsp;&nbsp;&nbsp;&nbsp;None</th><td></td></tr></table>
</div>
{% endif %}




          
      
      



      
    </div>
  </div>

    <h4>PROJECTS</h4>
        
  <div id="content-main">
    
        <ul class="object-tools">
          
            
            <li>
              
              <a href="/projects/{{a.id}}" class="align-right">
                Add Project
              </a>
            </li>
            
          
        </ul>    
    
    <div class="module" id="changelist">
      

     

 <button class="accordion">&nbsp;&nbsp;No. of Projects: {{projects.count}} </button>
   






{% if projects.count > 0 %}


<div class="panel">
{% for projectform in projects %}

<table><th class="field-__str__"><a href="/consultantformss/{{a.id}}/getf/{{projectform.id}}/">{{projectform.name}} FORMS</a></th><td><i><a href="/consultantformss/{{a.id}}/getp/{{projectform.id}}">DETAILS</a></i></td></table>
{% endfor %}
</div>
{% else %}
<div class="panel">
<table><tr><th class="field-__str__">&nbsp;&nbsp;&nbsp;&nbsp;None</th><td></td></tr></table>
</div>
{% endif %}
         



          
      
      



      
    </div>
  </div>
    
        <br class="clear" />
    </div>
	<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

{% endblock %}
